.back-gradient-user {
    position: fixed;
    top: 0;
    left: 0;
    z-index: -1;
}

.layout-body {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    position: relative;
    top: 50px;
    height: 91vh;
    width: 95vw;
    padding: 12px;
    margin: 8px auto;
    background-color: aliceblue;
    border: 1px solid rgba(255, 255, 255, 0.3);
    background: rgba(255, 255, 255, 0.4);
    backdrop-filter: blur(5px); 
    box-shadow: 5px 5px 15px 1px rgba(0, 0, 0, 0.2);
    border-radius: 12px;
}

.function-0 {
    display: flex;
    height: 90%;
    background-color: aliceblue;
    border: 1px solid rgba(255, 255, 255, 0.3);
    background: rgba(255, 255, 255, 0.1);
    backdrop-filter: blur(5px); 
    box-shadow: 5px 5px 15px 1px rgba(0, 0, 0, 0.2);
    padding: 0px;
    margin-bottom: 5px;
    border-radius: 10px;
    overflow: hidden;
}

.other-functions {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    height: 10%;
    padding: 10px;
    border-radius: 10px;
    overflow: hidden;
}

.function-1 {
    display: flex;
    width: 25%;
    background: #00FF1A;
    background: linear-gradient(to bottom left, #00FF1A 0%, #FFE603 85%);
    align-items: center;
    align-content: center;
    justify-content: center;
    border-radius: 10px;
    color: black !important;
    text-align: center;
    font-size: larger;
    font-weight: bolder;
    cursor: pointer;
    box-shadow: 3px 3px 9px 1px rgba(0, 0, 0, 0.4);
}

.function-2 {
    display: flex;
    width: 25%;
    background: #00FF00;
    background: linear-gradient(to bottom left, #00FF00 0%, #00FFFF 85%);
    align-items: center;
    align-content: center;
    justify-content: center;
    border-radius: 10px;
    color: black !important;
    text-align: center;
    font-size: larger;
    font-weight: bolder;
    cursor: pointer;
    box-shadow: 3px 3px 9px 1px rgba(0, 0, 0, 0.4);
}

.feedback-layout {
    display: flex;
    width: 25%;
    background: rgba(35, 207, 184, 0.2);
    border-style: dashed;
    border-width: 3px;
    border-spacing: 5px;
    border-color: rgb(0, 21, 255);
    align-items: center;
    align-content: center;
    justify-content: center;
    border-radius: 10px;
    text-align: center;
    font-size: larger;
    font-weight: bolder;
    cursor: pointer;
    box-shadow: 3px 3px 9px 1px rgba(0, 0, 0, 0.4);
}

@media screen and (max-width: 900px){
  .layout-body {
    width: 96vw;
    padding: 8px;
  }
  .other-functions {
    padding: 10px;
  }
  .function-1 {
    width: 30%;
    font-size: small;
  }
  .function-2 {
    width: 30%;
    font-size: small;
  }
  .feedback-layout {
    width: 30%;
    font-size: small;
  }
}



.header-lobby {
    z-index: 999;
    position: absolute;
    top: 0;
    width: 98%;
    align-self: center;
    height: 9vh;
    backdrop-filter: blur(0px);
    top: 3px;
    left: 1%;
    border-radius: 12px;
    border: none;
    display: flex;
    justify-content: center;
    transition: 0.2s ease;
    transition-property: height;
  }
  
  .header-lobby .navBar{
    position: relative;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 200px;
    transition: 0.3s ease;
  }
  
  .navBar .logo{
    width: 20%;
    display: flex;
    flex-direction: row;
    align-content: space-around;
    align-items: center;
    justify-content: space-around;
    color: var(--dark-color);
    font-size: 1.8em;
    font-weight: 600;
    letter-spacing: 2px;
    text-transform: uppercase;
    text-decoration: none;
    text-shadow: var(--text-shadow);
    cursor: pointer;
  }
  
  .header-lobby .navBar .logo .img1 {
    width: 11rem;
    height: auto;
    cursor: pointer;
  }
  
  @media screen and (max-width: 900px){
    .header-lobby .navBar .logo .img1 {
      width: 8rem;
    }
  
    .navBar .logo{
      width: 100%;
    }
  }
  
  @media screen and (max-width: 1250px){
    .header-lobby .navBar{
      padding: 0 50px;
    }
  }
  
  @media screen and (max-width: 900px){
    .header-lobby .navBar{
      padding: 25px 20px;
    }
  
    .landing-nav-items{
      display: none;
    }
  
    .landing-nav-menu{
      display: block;
      size: 100px;
    }
  }



